.fb{ color: #1a40af;
    font-size: 3rem;
    font-family: "Klavika", sans-serif;
    
}
h4{ margin-right: 5%;
    margin-bottom: 1px;
    width: 230px;
}
div.right{
    border-style: groove;
    padding: 10px;
    border-radius: 10px;
    margin-left: 5%;
    background-color: white;
    border: 5px rgb(199, 197, 197);
    box-shadow: rgb(199, 197, 197) 2px 2px 2px 4px ;
}
.input1{
width: 300px;
height: 50px;
border-radius: 10px;
border: 1px rgb(182, 181, 181);
border-style: solid;
padding-left: 10px;
margin-top: 15px;
}
.input1::placeholder{
    font-size: 15px;
    
}
.input2{
    width: 300px;
height: 50px;
border-radius: 10px;
padding-left: 10px;
margin-top: 15px;
border: 1px rgb(182, 181, 181);
border-style: groove;
}
.btn{
    width: 300px;
height: 50px;
border-radius: 10px;
border: 1px rgb(182, 181, 181);
padding-left: 10px;
margin-top: 15px;
background-color: #1a40af;
color: white;
font-size: 15px;
word-spacing: 2px;
letter-spacing: 1px;
}
h5{
    text-align: center;
    color: #1a40af;
    font: bold;
    margin-top: 10px;
    font-size: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}
.signup{
    width: 200px;
    margin-left: 50px ;
    height: 50px;
    border-radius: 10px;
    padding-left: 10px;
    margin-top: 15px;
    border: 1px rgb(182, 181, 181);
    background-color: rgb(14, 141, 14);
    color: white;
    font-size: 15px;
    word-spacing: 2px;
    letter-spacing: 1px;
}
#desktop{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(238, 248, 255);
}
#mobile{
  height: 95vh;
  display: none;
}
@media (max-width: 480px){
#desktop{
  display: none;
}
#mobile{
  display:block;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
.imgs {
  margin-top: 60px
}
.input1 {
  width: 95%;
  height: 55px;
  margin-top: 60px;
  border-radius: 7px;
  
  border: 1px solid silver;
}
.input1::placeholder {
  font-size: 15px;

  color: #808080;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.input2 {
  width: 95%;
  height: 55px;
  margin-top: 20px;
  text-align: 10px 20px;
  border-radius: 7px;
  border: 1px solid silver;
}

.input2::placeholder {
  font-size: 15px;
  color: grey;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.butt {
  width: 94%;
  height: 50px;
  margin-top: 10px;
  border-radius: 30px;
  background-color: #4169E1;
  border: none;
  color: white;
  margin-top: 50px;
}

.und {
  
  color: #2E3531;
  margin-top: 10px;
  cursor: pointer;
  
}

.butt2 {
  font-size: 15px;
  color: #2E3531;
  margin-top: 50px;
  width: 300px;
  height: 50px;
  background-color: transparent;
  border: 1px solid #4169E1;
  border-radius: 30px;
}
.meta {
  margin-top: 20px;
}
.flex {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.flex div {
  margin-left: 20px;
  color: grey;
  font-size: 13px;
}
.sep {
  margin-left: -20px;
}
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
}

}